
.map-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#map {
    background-color: #CCC;
}

.start-button.button-primary {
    width: 250px;
    height: 80px;
    padding: 20px;
    margin: -40px 0 0 -125px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    cursor: pointer;
}

.new-game-button {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.answer-container {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 265px;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.panel.answer-container {
    padding-bottom: 0;
}

.answer-container > form > label {
    display: block;
    text-align: center;
}

.answer-container > form > input,
.answer-container > form > button {
    display: block;
}

.revision-sheet,
.scoreboard {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
}

.panel {
    height: auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #CCC;
    opacity: 0.9;
}

.scoreboard > div {
    color: #000;
    text-align: center;
}

.log {
    padding-top: 10px;
}

.log > table {
    border-top: 1px solid #E1E1E1;
}

.log > table td,
.log > table th {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log > table td:first-child,
.log > table th:first-child {
    width: 10px;
}

.heading {
    margin-bottom: 0;
    text-align: center;
    color: #444;
    font-size: 24px;
    line-height: 36px;
}

nav {
    padding: 16px 0 6px 0;
    border-bottom: solid 1px #E1E1E1;
}

nav button {
    width: 100%;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px 0;
    background: white;
    border-top: solid 1px #E1E1E1;
}

.time,
.score {
    text-align: center;
}

/* Sortable tables - show sort icon by default */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/* Skeleton overrides */
button {
    padding: 0 10px !important;
}

.answer-list {
    list-style-type: none;
    margin-bottom: 0;
}

.answer-list li input,
.answer-list li button {
    display: block;
    width: 100%;
}